Go to <a href='/login'>/login</a> to log in,<br>
<a href='/user'>/user</a> for the user page,<br>
<a href='/admin'>/admin</a> for the admin page.<br>
Usernames and passwords for each are user, user and admin, admin respectively.